<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./recipes/partials/header') %> 
    <%- include('./recipes/partials/footer') %>
  </body>
</html>