<%- include('./partials/header') %>

<h2>Enter a New Recipe</h2>
<form action="/recipes" method="POST">
  <label>Title:
    <input type="text" name="title" required>
  </label><br>
  <label>Cuisine:
    <input type="text" name="cuisine" required>
  </label><br>
  <label>Diet: 
    <select name="diet">
      <option value="Paleo">Paleo</option>
      <option value="Vegan">Vegan</option>
      <option value="Low-Carb">Low-Carb</option>
      <option value="Detox">Detox</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Not Sure">Not Sure</option>
    </select>
  </label><br>
  
  <button type="submit">ADD RECIPE</button>
</form>

<%- include('./partials/footer') %>